<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.opersys.otlauncher">

    <uses-sdk android:targetSdkVersion="10"
              android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">

        <service android:name=".OTLauncherService">
        </service>

    </application>

</manifest>
